*{
  margin: 0;
  padding: 0;
}

:root{
  --col1: rgb(230, 230, 15);
}

body{
  background-color: black;
  color: white;
}

.mainhead1{
  -webkit-text-stroke: 1px var(--col1);
  color: transparent;
  font-family:'Times New Roman', Times, serif;
  font-size: 10rem;
  text-align: center;

}
